.DS_Store

# Project specific
data-db
# Terraform
plan.out
.terraform
.terraform.lock.hcl

tmp/
gitleaks-report.json

# Node.js & JavaScript
/node_modules
/npm-debug.log
/.pnp
.pnp.js

# Visual Studio Code
.vscode
/.vscode/*

# Python
*.pyc
__pycache__/
*.py[cod]

# MongoDB
/data/
/log/
/dump/
/dbpath/

# Django
*.sqlite3
*.pyc
*.pyo
*.pyd
__pycache__
.DS_Store
*/.DS_Store
*.swp
*.bak
*.pyc
*.pyo
*.db.sqlite3
/.idea/
/.vscode/
/__pycache__/
/.venv/
/venv/
/.pytest_cache/
.ruff_cache
